Note: Create File With .env  Extension In .gitignore folder Where  You to Give  Environment variables 
like aws region,aws_access_key_id,aws_access_key_id 

ex:
1.Create A file With <file name>.env 
2.open file
3.region=<yourRegion> ex:ap-south-1
4.aws_access_key_id= your key id
5.aws_secret_access_key=your secret access key

note: Please Make Sure That .env File  is .gitignore folder Before  You Commit  Into Repository 